.post {
  width: 585px;
  margin: 50px;
}
.post__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}
.post__header span {
  display: inline-block;
  margin-left: 6px;
}
.post__header-author {
  display: flex;
  align-items: center;
}
.post__image > img {
  width: 100%;
  border-radius: 4px;
  border: 0.6px solid rgba(128, 128, 128, 0.516);
}

.post__footer-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.post-icon {
  cursor: pointer;
  margin: 10px;
}
